// Colors
$clr0: #141414;
$clr2: #395b99;
$clr4: #6c90d1;
$clr5: #f8f8f1;
$clr6: #f1f4f8;
$margin6: 0 auto 6px auto;
$font1: sans_pro, sans-serif, Arial, serif;

$sMobile: 64;
$mMobile: 280;
$lMobile: 480;
$sDesktop: 768;
$mDesktop: 1024;
$lDesktop: 1700;
$xlDesktop: 1920;
$xxlDesktop: 2400;
